*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container{
    background-color: #f8f9fa;
    padding: 13px 19px;
    box-shadow: 0 4px 8px rgba(167, 98, 98, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #ff6347;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #ff4500;
}